header>div {
    display: -ms-flexbox
}
.button,
label {
    -ms-user-select: none
}
:root {
    --primary: #b51f44;
    --secondary: #e2c0c0;
    --light: #fff;
    --header: #555;
    --dark-link-hover: var(--primary);
    --dark-link: #70132a
}
html[dark_mode=true] {
    --body: #222;
    --body-color: var(--light);
    --dark-link: var(--secondary)
}
body {
    font-size: smaller;;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    color: var(--body-color);
    background: var(--body)
}
a {
    color: var(--light);
    text-decoration: none
}
a:hover {
    color: var(--secondary)
}
.dark-link {
    color: var(--dark-link);
    fill: var(--dark-link)
}
.dark-link:hover {
    color: var(--dark-link-hover);
    fill: var(--dark-link-hover)
}
p {
    margin-top: 0;
    margin-bottom: .75em
}
header>div {
    display: -webkit-flex;
    display: flex;
    font-size: smaller;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: .15em .3em;
    background-color: var(--header);
    color: var(--light)
}
.button,
label {
    -webkit-user-select: none;
    user-select: none
}
#container {
    width: 16.5em;
    margin-left: auto;
    margin-right: auto
}
footer {
    display: -ms-flexbox
}
input:checked~.treeswitch {
    -o-transform: rotate(-90deg)
}
#options::-webkit-scrollbar {
    width: .6em
}
#options::-webkit-scrollbar-track {
    background: var(--primary)
}
#options::-webkit-scrollbar-thumb {
    background: var(--secondary)
}
#options::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover)
}
:root {
    --scrollbar-hover: #c2c0c0;
    --treeswitch: #bbb;
    --check-border: #ddd;
    --footer: #eee;
    --check: #999;
    --off-img: #919191
}
html[dark_mode=true] {
    --footer: #000;
    --check: var(--primary)
}
footer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: smaller;
    padding-top: .15em;
    padding-bottom: .15em;
    background-color: var(--footer)
}
footer>a {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center
}
#ts-icon {
    margin-left: .4em
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0
}
.suboption,
ul {
    padding-left: 1.25em
}
#options>ul {
    padding-left: 1.65em
}
html:not([yt_off=true]) #off,
html[yt_off=true] #options {
    display: none
}
#off {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center
}
#off>svg {
    fill: var(--off-img)
}
#off>p {
    margin-top: .8em;
    margin-bottom: 0
}
#options {
    margin-left: -1.25em;
    padding: .375em .75em .3em;
    max-height: 26em;
    overflow-y: auto
}
.option {
    display: inline-block;
    position: relative;
    padding-left: 1.3em;
    margin-bottom: .07em;
    cursor: pointer
}
input[type=checkbox] {
    display: none
}
.checkmark {
    position: absolute;
    top: .2em;
    left: 0;
    height: .5em;
    width: .5em;
    border: .125em solid var(--check-border);
    background: none
}
input:checked~.checkmark {
    background-color: var(--check)
}
input:indeterminate~.checkmark:after {
    content: "";
    position: absolute;
    top: .25em;
    height: .25em;
    width: .5em;
    background-color: var(--check)
}
.option:hover>.checkmark {
    border-color: var(--secondary)
}
#subbar svg {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    fill: var(--secondary)
}
#subbar svg:hover {
    fill: var(--light)
}
#subbar {
    background-color: var(--primary)
}
#subbar>label {
    display: flex;
    -webkit-align-items: center;
    align-items: center
}
.treeswitch {
    position: relative;
    cursor: pointer;
    border-top: .37em solid var(--treeswitch);
    border-right: .37em solid transparent;
    border-left: .37em solid transparent;
    display: inline-block;
    margin: 0 -.1em .15em -.92em
}
input:checked~.treeswitch {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.hidden {
    display: none
}